
@{
    ViewData["Title"] = "Update";
}

<h1>Update address page</h1>



<div>
    <p class="lead">
        <a class="btn btn-secondary btn-lg" asp-controller="Addresses" asp-action="Index" role="button">Back</a>
    </p>
</div>