
@{
    ViewData["Title"] = "Index";
}

<nav class="navbar sticky-top navbar-dark bg-secondary">
    <a class="navbar-brand" href="/Employees/Index" data-toggle="tooltip" title="Refresh the page">Employee Index</a>
</nav>
<br />
My profile : roles, names, egn, manager? poistion

generic information

service to give the details , based on the role???
<div class="accordion">
    <a href="/Employees/ProfilePage" type="button" class="btn btn-secondary" data-toggle="tooltip" title="Удри смело!!"> <i class="fas fa-id-card"></i> My employee profile</a>
</div>
<br />  
<div class="accordion">
    <a href="#" type="button" class="btn btn-secondary" data-toggle="tooltip" title="Цъкай не ги мисли!!"><i class="fas fa-user-tag"></i> My roles</a>
</div>
<br />  
<div class="accordion">
    <a href="#" type="button" class="btn btn-secondary" data-toggle="tooltip" title="Ан така!!"><i class="fas fa-book-dead"></i> Request a document</a>
</div>
<br />
<p class="lead">
    <a class="btn btn-secondary btn-lg" asp-controller="Health" asp-action="Index" role="button" data-toggle="tooltip" title="Дай заден"><i class="fas fa-backward"></i>  Back to Health Main Page</a>
</p>

