
@{
    ViewData["Title"] = "Index";
}

<nav class="navbar sticky-top navbar-dark bg-secondary">
    <a class="navbar-brand" href="/Employees/Index" data-toggle="tooltip" title="Refresh the page">Employee Index</a>
</nav>
<br />
My profile : roles, names, egn, manager? poistion

generic information

service to give the details , based on the role???
<div class="accordion">
    <a href="#" type="button" class="btn btn-secondary" data-toggle="tooltip" title="Удри смело!!">My employee profile</a>
</div>
<br />  
<div class="accordion">
    <a href="#" type="button" class="btn btn-secondary" data-toggle="tooltip" title="Цъкай не ги мисли!!">Link</a>
</div>
<br />  
<div class="accordion">
    <a href="#" type="button" class="btn btn-secondary" data-toggle="tooltip" title="Ан така!!">Link</a>
</div>
<br />
<p class="lead">
    <a class="btn btn-secondary btn-lg" asp-controller="Health" asp-action="Index" role="button"> Back to Health Main Page</a>
</p>

