
@{
    ViewData["Title"] = "Index";
}

<h1>Administration Index</h1>

if you read this, I made it to get here hahhahaha

<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#!">Main Admin areas</a>
</nav>
<br />
<div class="list-group">
    <a asp-area="Administration" asp-controller="Addresses" asp-action="Index" class="list-group-item active">Addresses</a>
    <hr />
    <a href="#!" class="list-group-item disabled">Patients</a>
    <hr />
    <a href="#!" class="list-group-item  disabled">Doctors</a>
    <hr />
    <a href="#!" class="list-group-item disabled">App Reporting</a>
</div>
<hr />
<br />
<div>
    <p class="lead">
        <a class="btn btn-secondary btn-lg" asp-area="" asp-controller="EGovServices" role="button">Back to Egov Services main page</a>
    </p>
</div>