@{
    ViewData["Title"] = "AssignAdminRoleToUser";
}

<h3>Get Admin Award</h3>

<h4> By selecting the Administration role you accept to bear all responsibilities that it brings <i class="fab fa-wizards-of-the-coast"></i></h4>

<div class="card">
    <form method="post">
        <img class="card-img-top" src="https://res.cloudinary.com/egov/image/upload/v1588003803/Admin_lljww6.jpg" alt="Card image cap">
        <div class="card-body">
            <h4 class="card-title">Admin role</h4>
            <p class="card-text">
                By clicking the button bellow you aknowledge that you will be resposnible for this application with the promise to rule it well. <i class="far fa-smile-wink"></i>
            </p>
            <button type="submit" class="btn btn-primary">It can be done!</button>
        </div>
    </form>
</div>
<hr />

    }

<br />
<div>
    <p class="lead">
        <a class="btn btn-secondary btn-lg" asp-area="" asp-controller="EGovServices" asp-action="SelectProfileSetOptions" role="button">Back to EGov Services Page </a>
    </p>
</div>