@{
    this.ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-3">Welcome to E-Government!</h1>
    <p class="lead">
        Skip bureaucracy!
    </p>
    <hr class="my-2">
    <p>
        Have a nice @DateTime.Today.DayOfWeek
    </p>
    <hr class="my-2">
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="/Home/UnderConstructionView" role="button">ENTER</a>
    </p>
</div>