
@{
    this.ViewData["Title"] = "Work&Study";
}

<h1>К'во ще бачкаш с туй дет го учиш?</h1>

<hr class="bg-success" style="height: 2px" />

<main>

    <div class="track-details">

        <hr class="bg-success w-50" style="height: 2px" />

        <div class="d-flex justify-content-center">

            <iframe width="1074" height="480" src="https://www.youtube.com/embed/leFFjwoIPjk"
                    frameborder="1" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>

        </div>

        <hr class="bg-success w-50" style="height: 2px" />

    </div>

</main>

<hr class="bg-success" style="height: 2px" />

