@{
    ViewData["Title"] = "Page under construction";
}

<h1>UNDER CONSTRUCTION!</h1>

<hr />
<section class="py-5 bg-image-full"
         style="background-image: url('https://res.cloudinary.com/egov/image/upload/v1582494705/underconstruction_hlhw3w.jpg'); background-repeat: no-repeat;">
    <div style="height: 40vh;"></div>
    <hr />
    <h2>Working hard to get this one done ASAP</h2>
    <hr />
    <a button type="button" class="btn btn-primary" href="/">Home Page</a>
</section>

 