
@{
    ViewData["Title"] = "About Page";
}

    <h1><i class="fas fa-address-card"></i> Our Mission, Values, Goals and Vision</h1>

<br />
<br />

<div class="container">

    <div class="media">
        <img class="d-flex align-self-start mr-3" src="https://res.cloudinary.com/egov/image/upload/v1586806713/favicon_tdf1fs.png" alt="Generic placeholder image" height="120" width="160">
        <div class="media-body">
            <h5 class="mt-0">NO TO CORRUPTION AND BRIBERY</h5>
            <p><i class="fas fa-hand-holding-usd"></i> We do our best to fight against corruption at al levels. <i class="fas fa-handshake"></i></p>
        </div>
    </div>

    <br />

    <div class="media">
        <img class="d-flex align-self-start mr-3" src="https://res.cloudinary.com/egov/image/upload/v1586812802/broken_phone_rcaqka.jpg" alt="Generic placeholder image" height="120" width="160">
        <div class="media-body">
            <h5 class="mt-0">OPEN COMMUNICATION</h5>
            <p><i class="fas fa-volume-up"></i> Written and verbal communication is documented at all times.</p>
        </div>
    </div>

    <br />

    <div class="media">
        <img class="d-flex align-self-start mr-3" src="https://res.cloudinary.com/egov/image/upload/v1586814170/quality_cur99x.jpg" alt="Generic placeholder image" height="120" width="160">
        <div class="media-body">
            <h5 class="mt-0">QUALITY SERVICE</h5>
            <p> <i class="fas fa-trash-alt"></i> High standards applied to the service provided to citizens.</i></p>
        </div>
    </div>

    <br />

    <div class="media">
        <img class="d-flex align-self-start mr-3" src="https://res.cloudinary.com/egov/image/upload/v1586814789/waitturn_ocgel1.jpg" alt="Generic placeholder image" height="120" width="160">
        <div class="media-body">
            <h5 class="mt-0">MAKE IT EASY AND FAST</h5>
            <p><i class="fas fa-hourglass"></i> No need to wait on the queues anymore</p>
        </div>
    </div>

    <br />

    <div class="media">
        <img class="d-flex align-self-start mr-3" src="https://res.cloudinary.com/egov/image/upload/v1586815765/Imam_ntffo5.jpg" alt="Generic placeholder image" height="120" width="160">
        <div class="media-body">
            <h5 class="mt-0">RULES ARE FOR EVERYONE</h5>
            <p><i class="fas fa-theater-masks"></i> We all comply with laws</p>
        </div>
    </div>

    <br />

    <div class="media">
        <img class="d-flex align-self-start mr-3" src="https://res.cloudinary.com/egov/image/upload/v1586816271/deputati_bgmauc.jpg" alt="Generic placeholder image" height="120" width="160">
        <div class="media-body">
            <h5 class="mt-0">SERVING TO PEOPLE</h5>
            <p> <i class="fas fa-concierge-bell"></i> Services are done to help citizens</p>
        </div>
    </div>

    <br />

</div>


