@{
    this.ViewData["Title"] = "Home Page";
}

<ul class="nav nav-pills nav-fill">
    <li class="nav-item">
        <a class="nav-link active alert-secondary" href="/EGovServices">Quick link to E-Gov Services </a>
    </li>
    <li class="nav-item">
        <a class="nav-link active alert-secondary" active href="/Health/Index">Quick link to Health Services</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active alert-secondary" href="/Administration/Administration/Index">Quick link to Administration</a>
    </li>
</ul>
<div class="jumbotron">
    <h1 class="display-3"> <i class="fas fa-tasks"></i> Welcome to E-Government!</h1>
    <p class="lead">
        <i class="fas fa-pause"></i> Don't wait for your turn here!    <i class="fas fa-forward"></i> Skip bureaucracy! Don't waste your time on the queue!
    </p>
    <hr class="my-2">
    <p>
        <i class="fas fa-calendar-day"></i> Have a nice @DateTime.Today.DayOfWeek
    </p>
    <hr class="my-2">
    <p class="lead">
        <a class="btn btn-primary btn-lg" asp-controller="Ministries" asp-action="Index" role="button"><i class="fas fa-person-booth"></i> ENTER</a>
    </p>

</div>


