@{
    ViewData["Title"] = "Page under construction";
}

<h1><i class="fas fa-hard-hat"></i> UNDER CONSTRUCTION!</h1>

<hr />
<section class="py-5 bg-image-full"
         style="background-image: url('https://res.cloudinary.com/egov/image/upload/v1582494705/underconstruction_hlhw3w.jpg'); background-repeat: no-repeat;">
    <div style="height: 40vh;"></div>
    <hr />
    <h2><i class="fas fa-wrench"></i>  ... Working soo hard to get this one done ASAP</h2>
    <hr />
    <a button type="button" class="btn btn-primary" href="/"><i class="fas fa-home"></i></a>
</section>

 