@{
    ViewData["Title"] = "Services Index Page";
}

<br />
<div class="jumbotron">
    <h1 class="display-3">You are on the Health Index Page!</h1>
    <p class="lead">
        You can enter the portal with the options provided
    </p>
    <hr class="my-2">
    <p>
        Select from the menu bellow:
    </p>
    <p class="lead">
        <nav class="navbar sticky-top navbar-dark bg-secondary">
            <a class="navbar-brand" href="/Health/PatientRecord">PATI€NT$</a>
        </nav>
        <br />
        <nav class="navbar sticky-top navbar-dark bg-secondary">
            <a class="navbar-brand" href="/Employees/Index">EMPLOYEES</a>
        </nav>
        <br />
    </p>
</div>
<br />  
