@model EGovernment.Web.ViewModels.AppViewModels.HealthViewModels.PatientRecordViewModel
@{
    ViewData["Title"] = "PatientRecord";
}

<h1>Patient Record</h1>

My profile : GP, Medicalrecord(PatientId, Visits, Diagnoses), Names , EGN 
