
@{
    ViewData["Title"] = "Profile";
}

<h1>Health Profile</h1>

write names and egn : check if there is a profile or not via the service and controller

you have then can change or complete/ proceed

you do not have a medical profile : create your profile now with all the information

add user to role patient 

redirect tothe right page