@model EGovernment.Web.ViewModels.AppViewModels.MinistriesViewModels.MinistriesCollectionViewModel
@{
    ViewData["Title"] = "Bulgarian Ministries List";
}

<div class="products-list">
    <h1>What can we do for you? How to help?</h1>
</div>

@foreach (var ministry in Model.MinistriesList)
{
    <div class="products-list">
        <p>
            @ministry.Name
            @ministry.AddressDetails
            @ministry.PictureLink
            @ministry.Url
        </p>>
        
    </div>
}


