
@{
    ViewData["Title"] = "My record(Health/PatientRecord)";
}
@if (TempData["Infomessage"] != null)
{
    <div class="alert alert-danger">@TempData["Infomessage"].ToString()</div>
}
<h1>Patient Record</h1>

My profile :
Create such profile
Names
EGN
Address
my patientID ?

GP(Patient - > doctor.names),

 Medicalrecord(PatientId, Visits, Diagnoses),
Names ,
 EGN
