
@{
    ViewData["Title"] = "UpdatePatientRecord";
}

<h1>Complete(update) Patient Record</h1>

- change GP - via selection from AllDoctorsDisplayViewModel?
- address change
-medical record?


@*<div>
        <p class="lead">
            <a class="btn btn-secondary btn-lg" asp-controller="Doctors" asp-action="Search" role="button">Find your doctor</a>
        </p>
    </div>*@