@{
    ViewData["Title"] = "EGov Services Index Page";
}
<h4><i class="small material-icons">mood</i> Моля, не се блъскайте, вземете си номерче! <i class="small material-icons">directions_run</i></h4>
<br />
<p class="lead">
    <a class="btn btn-secondary btn-lg" asp-controller="EGovServices" asp-action="SetAccess" role="button">Complete your profile so you can benefit from all functionalities</a>
</p>
<div class="collection">
    <a href="/UnderConstruction/Index" class="collection-item"><i class="material-icons">euro_symbol</i>   Justice</a>
    <a href="/Health/Index" class="collection-item active"><i class="material-icons">add_alert</i>   Health Services</a>
    <a href="/UnderConstruction/Index" class="collection-item"><i class="material-icons">drive_eta</i>   Tourisim</a>
    <a href="/UnderConstruction/Index" class="collection-item"><i class="material-icons">hotel</i>  Labor And Social Policy</a>
    <a href="/UnderConstruction/Index" class="collection-item"><i class="material-icons">location_city</i>  Regional Development And Public Works</a>
    <a href="/UnderConstruction/Index" class="collection-item"><i class="material-icons">mouse</i>  Transport Information Technology And Communications</a>
    <a href="/UnderConstruction/Index" class="collection-item"><i class="material-icons">next_week</i>  Finance</a>
    <a href="/UnderConstruction/Index" class="collection-item"><i class="far fa-grin-squint-tears"></i>  More to come... </a>
</div>
<br />
<div>
    <p class="lead">
        <a class="btn btn-secondary btn-lg" asp-controller="Ministries" asp-action="AllList" role="button">Back</a>
    </p>
</div>

