
@{
    ViewData["Title"] = "EGov Services Index Page";
}

<h1><i class="small material-icons">mood</i> Have fun! </h1>
<br />
<br />


<br />
<br />
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <img class="d-block w-100" src="https://res.cloudinary.com/egov/image/upload/v1586802763/Health_a7wtoa.jpg" data-src="holder.js/900x400?theme=social" alt="Health">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://res.cloudinary.com/egov/image/upload/v1586814789/brb_lgr0cn.png" data-src="holder.js/900x400?theme=industrial" alt="Be back">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://res.cloudinary.com/egov/image/upload/v1586802764/transport_klkwfj.jpg" data-src="holder.js/900x400?theme=social" alt="travel">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://res.cloudinary.com/egov/image/upload/v1582494705/underconstruction_hlhw3w.jpg" data-src="holder.js/900x400?theme=social" alt="Building">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://res.cloudinary.com/egov/image/upload/v1582494682/favicon_zbs97y.ico" data-src="holder.js/900x400?theme=social" alt="Don't take">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://res.cloudinary.com/egov/image/upload/v1583792735/VrataUPole_cek280.jpg" data-src="holder.js/900x400?theme=social" alt="Laws">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://res.cloudinary.com/egov/image/upload/v1586985973/shout_wdlz2o.jpg" data-src="holder.js/900x400?theme=social" alt="We hear you">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<br />

<p class="lead">
    <a class="btn btn-secondary btn-lg" asp-controller="Ministries" asp-action="AllList" role="button">Back</a>
</p>
